body {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    height: 20em;
}

#content {
    background-color: dimgrey;
    padding: 3em 3em 3em 3em;
}